header{
    background: #CCCCCC;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.arrumaCabeçalho{
    margin: 0 auto;
    
}
.principal{
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 8%;
    display: inline-block;
    right: 10%;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.links{
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    padding-right: 20px;
    font-size: 30px;
    padding-top: 5%;
    left: 40%;
}
.cabeçalho{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.logo{
    position: relative;
    left: 15%;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
}
.produtos li:hover{
    border-color: #c78c19;
}
.produtos li:active{
    border-color: green;
}
.produtos li:hover h2{
    font-size: 32px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.preço{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.descr{
    font-size: 18px;
}
footer{
    text-align: center;
    background-image: url("../assets/bg.jpg");
    padding: 40px 0;
}
.texto{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
.formulario{
    margin: 40px 0;
}
.input-padrao{
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
    display: block;
}
.radio-div{
    margin: 10px 0px;
}
form label, form legend{
    font-size: 20px;
        
}
.paragrafo-input{
    margin-bottom: 10px;
}
.label-radio{
    display: block; 
}
.check, .input-radio{
    display: inline-block;
    width: auto;
    margin: 1px 1px;
}
.check{
    margin: 20px 0px;
}
.enviar{
    display: block;
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: red;
    transform: scale(1.2);
}
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*Página inicial*/
.banner{
    width: 100%;
}
/*em = tamanho base( indepente do tamanho da fonte base)*/
/*em=proporcional*/
.h2-index{
    clear: left;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}
.main{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}
.main p{
    margin: 0 0 1em;
}
.main b{
    font-weight: bold;
}
.main i{
    font-style: italic;
}
.imagem-beneficios{
    width: 60%;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 3em 0;
    background: linear-gradient(#fefefe,#888);
}
.mapa p{
    margin: 2em 0;
    text-align: center;
}
.mapa-em-si{
    width: 940px;
    margin: 0 auto;
}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.beneficios{
    padding: 3em 0;
    background: #888;
}
.itens{ 
 line-height: 1.5em;
}
.itens:nth-child(1){
    font-weight: bold;
}
.itens:before{
content: "✯";
}
.lista-itens{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    
}
.video{
    width: 560px;
    margin: 2em auto;
}